<nav class="navbar navbar-expand-lg flex-wrap">
  <a class="nav-brand text-center w-100" href="{{ url_for('index') }}"
    >Delaware Trust & LLC Attorney</a
  >
  <button
    class="navbar-toggler ml-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Estate Planning
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Colorado Estate Planning</a>
          <a class="dropdown-item" href="">Durable Power of Attorney</a>
          <a class="dropdown-item" href="">Living Will</a>
          <a class="dropdown-item" href="">Colorado Wills</a>
          <a class="dropdown-item" href="">Colorado Probate</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Business Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Form a Colorado LLC</a>
          <a class="dropdown-item" href="">Colorado Registered Agent</a>
          <a class="dropdown-item" href="">Colorado Virtual Office</a>
          <a class="dropdown-item" href="">Form A Colorado Corporation</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Trusts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">Asset Protection Trust</a>
          <a class="dropdown-item" href="">Living Trust</a>
          <a class="dropdown-item" href="">Special Needs Trust</a>
          <a class="dropdown-item" href="">Land Trust</a>
          <a class="dropdown-item" href="">Family Trusts</a>
          <a class="dropdown-item" href="">Colorado Trusts</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('sitemap') }}"> Sitemap </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tel:+1-720-204-2444"> Call: 720-204-2444 </a>
      </li>
    </ul>
  </div>
</nav>
