<!-- Related reading -->
<section id="related" class="bg-light">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('registered_agents') }}"
          >Colorado Registered Agent</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('fllc') }}"
          >Registering a Foreign LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('periodic_report') }}"
          >Periodic Report Filing</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('foreigncorp') }}"
          >Registering a Foreign Corporation</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('secretary') }}"
          >Secretary of State</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('search') }}"
          >Business Search</a
        >
      </li>
    </ul>
  </div>
</section>
