<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('index') }}"
          >Form a Colorado LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('benefits') }}"
          >Business Registration Benefits</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('oa') }}"
          >Operating Agreement</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('ein') }}"
          >Obtain Your EIN</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('taxes') }}"
          >Taxes</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('soleprop') }}"
          >Sole-Proprietorships</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('aoo') }}"
          >Articles of Organization</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('bank') }}"
          >Business Bank Account</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('privacy') }}"
          >Anonymous LLCs</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('dba') }}"
          >DBA / Trade Name</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('dissolution') }}"
          >Dissolving a Company</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('fees') }}"
          >Colorado LLC Annual Fees</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('holding') }}"
          >Holding Company</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('laws') }}"
          >Business Laws</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('single') }}"
          >Single Member LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('filing') }}"
          >Register a Trademark</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('best_state') }}"
          >Best State to Form an LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('license') }}"
          >Colorado Business License</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('w9') }}"
          >W-9 Form</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('is_llc') }}"
          >Is an LLC a Corporation</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('requirements') }}"
          >Colorado LLC Requirements</a
        >
      </li>
    </ul>
  </div>
</section>
