<section id="related" class="floating-content bg-darkest-gray pv5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong><p class="text-white text-center" <strong><p class="text-white text-center">Related Reading</strong></p>
      </div>
      <div class="col-xs-12 flex flex-wrap justify-center items-center">
        <a class="floating-content__btn btn btn-default" href="{{ url_for('incorporating') }}">Colorado Corporation</a>
          <a class="floating-content__btn btn btn-default" href="{{ url_for('corp_taxes') }}">Corporate Taxation</a>
          <a class="floating-content__btn btn btn-default" href="{{ url_for('taxation') }}">S-Corp Taxation</a>
          <a class="floating-content__btn btn btn-default" href="{{ url_for('bylaws') }}">Corporate Bylaws</a>
          <a class="floating-content__btn btn btn-default" href="{{ url_for('articles') }}">Articles of Incorporation</a>
      </div>
    </div>
  </div>
</section>