<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('index') }}"
          >Form a Colorado LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('registered_agents') }}"
          >Colorado Registered Agent</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('benefits') }}"
          >Business Registration Benefits</a
        >
      </li>
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('colorado_trusts') }}"
          >Colorado Trusts</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('corp_taxes') }}"
          >Corporate Taxation</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('taxation') }}"
          >S-Corp Taxation</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('bylaws') }}"
          >Corporate Bylaws</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('articles') }}"
          >Articles of Incorporation</a
        >
      </li>
    </ul>
  </div>
</section>
