<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('index') }}"
          >Form a Colorado LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('oa') }}"
          >Operating Agreement</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('taxes') }}"
          >Taxes</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('soleprop') }}"
          >Sole-Proprietorships</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('aoo') }}"
          >Articles of Organization</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('dba') }}"
          >DBA / Trade Name</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('dissolution') }}"
          >Dissolving a Company</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('fees') }}"
          >Colorado LLC Annual Fees</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('holding') }}"
          >Holding Company</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('single') }}"
          >Single Member LLC</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('license') }}"
          >Colorado Business License</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('requirements') }}"
          >Colorado LLC Requirements</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('ih_company') }}"
          >Investment Holding Companies</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('fh_company') }}"
          >Family Holding Company</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('reh_company') }}"
          >Real Estate Holding Company</a
        >
      </li>
    </ul>
  </div>
</section>
