<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="">Colorado Registered Agent</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href=""
          >Registering a Business in Colorado</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="">Colorado Corporation</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="">Colorado Trusts</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="">Estate Planning</a>
      </li>
    </ul>
  </div>
</section>
