<section id="related" class="floating-content bg-darkest-gray pv5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <strong><p class="text-white text-center">Related Reading</strong></p>
      </div>
      <div class="col-xs-12 flex flex-wrap justify-center items-center">
        <a class="floating-content__btn btn btn-default" href="{{ url_for('colorado_trusts') }}">Colorado Trusts</a>
        <a class="floating-content__btn btn btn-default" href="{{ url_for('rlt') }}">Revocable Living Trust</a>
        <a class="floating-content__btn btn btn-default" href="{{ url_for('funding') }}">Funding a Revocable Living Trust</a>
        <a class="floating-content__btn btn btn-default" href="{{ url_for('land') }}">Land Trusts</a>
        <a class="floating-content__btn btn btn-default" href="{{ url_for('land_vs_living') }}">Land vs. Living Trust</a>
      </div>
    </div>
  </div>
</section>