<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('special_needs') }}"
          >Special Needs Trust</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('index') }}"
          >Colorado Trust Attorney</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('trust') }}"
          >Colorado Asset Protection Trusts</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('estate') }}"
          >Colorado Estate Planning</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('medicaid') }}"
          >Colorado Medicaid Trust</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('probate') }}"
          >Colorado Probate</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('rlt') }}"
          >Revocable Living Trust</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('charitable') }}"
          >Charitable Remainder Trust</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('pet_trusts') }}"
          >Pet Trust</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('family_trusts') }}"
          >Family Trust</a
        >
      </li>
    </ul>
  </div>
</section>
