<!-- Related reading -->
<section id="related">
  <div class="container main-font">
    <h2 class="text-center text-primary mb-4 font-weight-bold">
      Related Readings
    </h2>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('colorado_trusts') }}"
          >Colorado Trusts</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('trust') }}"
          >Colorado Asset Protection Trusts</a
        >
      </li>
      <li class="list-inline-item">
        <a class="btn btn-outline-primary" href="{{ url_for('dom_vs_off') }}"
          >Domestic vs. Offshore Trusts</a
        >
      </li>
      <li class="list-inline-item">
        <a
          class="btn btn-outline-primary"
          href="{{ url_for('apt_irrevocable') }}"
          >Colorado Irrevocable Trust</a
        >
      </li>
    </ul>
  </div>
</section>
