// Related readings
#related {
  margin-top: 20px;
  padding: 30px 0;
  background-color: #fff;
  a {
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
  }
}

// Contact styles
#contact {
  padding: 30px 0;
}
