<section class="contact bg-dark" id="contact">
  <div class="container-fluid text-light">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center main-font font-weight-bold">
          What's On Your Mind?
        </h2>
      </div>
      <div class="col-12 text-center">
        <div class="call mx-auto my-4 d-inline-block">
          <h3 class="text-center main-font font-weight-bold mb-0">
            Give us a Call:
          </h3>
          <a
            class="text-center main-font text-light font-weight-bold lead"
            href="tel:+1-720-204-2444"
            >720-204-2444</a
          >
        </div>
      </div>
      <div class="col-12 text-center">
        <div class="call mx-auto my-4 d-inline-block">
          <h3 class="text-center main-font font-weight-bold mb-0">
            Send us a Message:
          </h3>
          <a
            class="text-center main-font text-light font-weight-bold lead"
            href="mailto:info@coloradollcattorney.com"
            >info@coloradollcattorney.com</a
          >
        </div>
      </div>

      <div class="col-md-6 mx-auto">
        <div id="mc_embed_signup">
          <form
            action="https://wyomingllcattorney.us19.list-manage.com/subscribe/post?u=0d2b9cac524a45def1cce5909&amp;id=06a560c7e8"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group size1of2">
                <label for="mce-EMAIL">
                  <p style="color: white">Email Address (Required)</p>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" />
              </div>
              <div class="mc-field-group size1of2">
                <label for="mce-PHONE">
                  <p style="color: white">Phone Number</p>
                </label>
                <input type="text" name="PHONE" class="" value="" id="mce-PHONE" />
              </div>
              <div class="mc-field-group size1of2">
                <label for="mce-FNAME">
                  <p style="color: white">First Name</p>
                </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME" />
              </div>
              <div class="mc-field-group size1of2">
                <label for="mce-LNAME">
                  <p style="color: white">Last Name</p>
                </label>
                <input type="text" value="" name="LNAME" class="" id="mce-LNAME" />
              </div>
              <div class="mc-field-group">
                <label for="mce-MMERGE3">
                  <p style="color: white">Message (Required)</p>
                </label>
                <textarea value="" class="required" style="min-height: 150px; width: 100%; padding: 8px 5px" name="MMERGE3"
                  id="mce-MMERGE3"></textarea>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response no-display" id="mce-error-response"></div>
                <div class="response no-display" id="mce-success-response"></div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div class="bot_prevention" aria-hidden="true">
                <input class="bot_prevention" type="text" name="b_0d2b9cac524a45def1cce5909_cdeb835b2e" tabindex="-1" value=""
                  hidden />
              </div>
              <div class="clear">
                <input type="submit" value="Submit Message" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-secondary" />
              </div>
            </div>
            <!-- Sign up scroll -->
          </form>
        </div>
      </div>




      <div class="col-12 text-center">
        <div class="call mx-auto my-4 d-inline-block">
          <h3 class="text-center main-font font-weight-bold mb-0">
            Visit us:
          </h3>
          <p
            class="text-center main-font text-light font-weight-bold lead"
            >
            Colorado LLC Attorney
            <br>
            901 Pennsylvania Street, Denver, CO 80203</p
          >
        </div>
      </div>
    </div>

      <script
        type="text/javascript"
        src="{{ url_for('static',filename='scripts/mailchimp_validate.js') }}"
      ></script>
      <script
        type="text/javascript"
        src="{{ url_for('static',filename='scripts/mailchimp_validate_local.js') }}"
      ></script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</section>
