<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center my-3">
      <span class="copyright lead">
        <b
          >Copyright &copy; Colorado LLC Attorney 2003 -
          <script>
            document.write(new Date().getFullYear());
          </script>
        </b>
        <br />
        This site and related content is general in nature. It is not meant, nor
        is it within the scope of this site, to provide advice specific to your
        situation. Neither speaking with a paralegal, nor reading our website,
        constitutes qualified professional advice. We strongly suggest you seek
        professional advice prior to undertaking any strategies.
      </span>
    </div>
  </div>
</div>
